<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<head>
	<meta charset="UTF-8">
	<title>Produtos Agrícolas</title>
</head>

<body>
	
	<form method="get" action="/produto/salvar" class="form-group col-md-6 offset-md-5">
		Nome: <br><input type="text" name="nome"/> <br>
		Categoria: <br><input type="text" name="categoria"/> <br>
		Culturas: <br><input type="text" name="culturas"/> <br>
		Quantidade: <br><input type="text" name="quantidade"/> <br><br>
		
		<input type="submit" value="Cadastrar" class="btn btn-primary"/>
	</form>
	
	
	<script src="/js/bootstrap.min.js"></script>

</body>

</html>